machine-learning/.devenv
machine-learning/.direnv
# avoid large files
machine-learning/data/*

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
machine-learning/env
runs/detect
machine-learning/analysis_logs/*.log
machine-learning/KataGo/*
machine-learning/katago.json
machine-learning/analysis_example.cfg
